table {
  @apply w-full border-collapse;
}

table thead {
  @apply border-b border-black/10 bg-light/40 dark:border-darkborder dark:bg-white/5;
}

table :is(thead, tbody) tr {
  @apply border-b border-black/10 whitespace-nowrap dark:border-darkborder;
}

table :is(thead, tbody, tfoot) tr :is(th, td) {
  @apply whitespace-nowrap px-4 py-3 text-black dark:text-white;
}

table tbody tr:last-child {
  @apply border-0;
}

table.table-striped tbody tr {
  @apply even:bg-light/40 even:dark:bg-white/5;
}

table.table-hover tbody tr {
  @apply hover:bg-light/40 dark:hover:bg-white/5;
}

table.table-borderless :is(thead, tbody, tfoot) tr {
  @apply border-0;
}

table.table-borderless thead {
  @apply border-0;
}
