@theme {
  --font-cerebri: Cerebri Sans, sans-serif;
  --color-transperent: transperent;
  --color-current: currentColor;
  --color-muted: #94989a;
  --color-light: #e2e6eb;
  --color-black: #323a46;
  --color-primary: #280071;
  --color-success: #50cd89;
  --color-danger: #f1416c;
  --color-warning: #ffc700;
  --color-info: #009ef7;
  --color-dark: #151515;
  --color-darklight: #1F1F1F;
  --color-darkborder: #343331;
  --color-darkmuted: #767273;
}
